/.vscode
*node_modules*
bhp_identity.xml
stantec_identity.xml
/v1/views/trm/src/node_modules
/bisassetsAp
server.json
.DS_Store
/AWSLambda/generatePDF/dataDir
/AWSLambda/generatePDF/.serverless
/AWSLambda/generatePDF/*completedFormPDF

.vscode
/settings.xml
/*.code-workspace
.project

/v1/views/pnpm-lock.yaml