<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="Vary" />
				<remove name="x-powered-by" />
				<add name="Vary" value="Accept-Encoding" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Strict-Transport-Security" value="max-age=31536000" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="Reverse Proxy for Production Course Activity - Rewrite" stopProcessing="true">
					<match url="courseAssets/Activity/(.*)$" />
					<action type="Rewrite" url="https://bis-activity-cdn.s3.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Production Course Scorm - Rewrite" stopProcessing="true">
					<match url="courseAssets/Scorm/(.*)$" />
					<action type="Rewrite" url="https://bis-scorm-cdn.s3.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Production Content Library Activity - Rewrite" stopProcessing="true">
					<match url="courseAssets/ContentLib/Activity/(.*)$" />
					<action type="Rewrite" url="https://bis-library-activity-cdn.s3.ca-central-1.amazonaws.com/{R:1}" />
				</rule>

				<rule name="Reverse Proxy for Test Course Activity - Rewrite" stopProcessing="true">
					<match url="courseAssetsTest/Activity/(.*)$" />
					<action type="Rewrite" url="https://bis-activity-test.s3.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Test Course Scorm - Rewrite" stopProcessing="true">
					<match url="courseAssetsTest/Scorm/(.*)$" />
					<action type="Rewrite" url="https://bis-scorm-test.s3.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Content Library Scorm - Rewrite" stopProcessing="true">
					<match url="courseAssets/ContentLib/Scorm/(.*)$" />
					<action type="Rewrite" url="http://bis-library-scorm-cdn.s3-website.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Test Content Library Activity - Rewrite" stopProcessing="true">
					<match url="courseAssetsTest/ContentLib/Activity/(.*)$" />
					<action type="Rewrite" url="https://bis-library-activity-test.s3.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Test Content Library Scorm - Rewrite" stopProcessing="true">
					<match url="courseAssetsTest/ContentLib/Scorm/(.*)$" />
					<action type="Rewrite" url="http://bis-library-scorm-test.s3-website.ca-central-1.amazonaws.com/{R:1}" />
				</rule>
				<rule name="Reverse Proxy for Get cetfificate for old links for trm certificates - Rewrite" stopProcessing="true">
					<match url="assets/trmcoursecertificate/(.*)$" />
					<action type="Rewrite" url="common/downloadFileFromS3.cfm?link={R:1}" />
				</rule>
				<rule name="Block File Access to Sensitive Directories" stopProcessing="true">
					<match url="assets/(.*)$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_URI}" pattern="^/assets/FTP_.*" />
						<add input="{REQUEST_URI}" pattern="^/assets/UploadModifyUsers/" />
						<add input="{REQUEST_URI}" pattern="^/assets/UploadUsers/" />
						<add input="{REQUEST_URI}" pattern="^/assets/DriverInfoUpdate/" />
						<add input="{REQUEST_URI}" pattern="^/assets/emailattachments/" />
						<add input="{REQUEST_URI}" pattern="^/assets/EmailCertificate/" />
						<!-- <add input="{REQUEST_URI}" pattern="^/assets/completedFormPDF/" />
						<add input="{REQUEST_URI}" pattern="^/assets/completedEquipmentFormPDF/" /> -->
					</conditions>
					<action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="The resource you are looking for has been removed, had its name changed, or is temporarily unavailable." />
				</rule>
				<rule name="Redirect bistrainer.ca to www.bistrainer.com" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="bistrainer.ca" />
					</conditions>
					<action type="Redirect" url="http://www.bistrainer.com/{R:0}" />
				</rule>
				<rule name="Redirect www.bistrainer.ca to www.bistrainer.com" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="www.bistrainer.ca" />
					</conditions>
					<action type="Redirect" url="http://www.bistrainer.com/{R:0}" />
				</rule>
				<rule name="Redirect onlinelogin.ca to www.bistrainer.com" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="onlinelogin.ca" />
					</conditions>
					<action type="Redirect" url="https://www.bistrainer.com/onlinelogin/index.cfm" />
				</rule>
				<rule name="Redirect www.onlinelogin.ca to www.bistrainer.com" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="www.onlinelogin.ca" />
					</conditions>
					<action type="Redirect" url="https://www.bistrainer.com/onlinelogin/index.cfm" />
				</rule>
				<rule name="HTTPS force" enabled="false" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
						<add input="{HTTP_HOST}" pattern="bis.local.com" negate="true" />
						<add input="{HTTP_HOST}" pattern="ecommerce.local.com" negate="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect list to www" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="bistrainer.com" />
						<add input="{HTTP_HOST}" pattern="astraeasafetytraining.com" />
						<add input="{HTTP_HOST}" pattern="onlinesafetraining.ca" />
						<add input="{HTTP_HOST}" pattern="actsafestar.ca" />
						<add input="{HTTP_HOST}" pattern="trainingcoursesonline.ca" />
						<add input="{HTTP_HOST}" pattern="theonlinesafetytrainingnetwork.ca" />
						<add input="{HTTP_HOST}" pattern="xpan-safety.com" />
						<add input="{HTTP_HOST}" pattern="valhallasafetyonline.com" />
						<add input="{HTTP_HOST}" pattern="gsd.university" />
						<add input="{HTTP_HOST}" pattern="natt-online.ca" />
						<add input="{HTTP_HOST}" pattern="leavitttraining.com" />
						<add input="{HTTP_HOST}" pattern="hascoonline.ca" />
						<add input="{HTTP_HOST}" pattern="serenitysafetyonline.ca" />
						<add input="{HTTP_HOST}" pattern="sicatraining.ca" />
						<add input="{HTTP_HOST}" pattern="bistrainingsolutions.com" />
						<add input="{HTTP_HOST}" pattern="eprolearningonline.com" />
						<add input="{HTTP_HOST}" pattern="meritcollegeofconstruction.com" />
						<add input="{HTTP_HOST}" pattern="omegasafetytraining-onlinetraining.com" />
						<add input="{HTTP_HOST}" pattern="onlinesafetraining.com" />
						<add input="{HTTP_HOST}" pattern="safety605online.com" />
						<add input="{HTTP_HOST}" pattern="gembagrouplearning.com" />
						<add input="{HTTP_HOST}" pattern="hfsafety.us" />
						<add input="{HTTP_HOST}" pattern="safetydocstraining.ca" />
						<add input="{HTTP_HOST}" pattern="elearninghotzonetraining.com" />
						<add input="{HTTP_HOST}" pattern="ewilearningcenter.com" />
					</conditions>
					<action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" />
				</rule>
				<rule name="Redirect Specific Domain to corresponding store" stopProcessing="true">
					<match url="^$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="etraining.ecaa.ab.ca" />
						<add input="{HTTP_HOST}" pattern="onlinetraining.hseigroup.com" />
						<add input="{HTTP_HOST}" pattern="fasttrack.trainalberta.online" />
						<add input="{HTTP_HOST}" pattern="www.trainingcoursesonline.ca" />
						<add input="{HTTP_HOST}" pattern="raining.safetyteksoftware.com" />
						<add input="{HTTP_HOST}" pattern="courses.trainanddevelop.ca" />
						<add input="{HTTP_HOST}" pattern="courses.bissafety.com" />
						<add input="{HTTP_HOST}" pattern="www.omegasafetytraining-onlinetraining.com" />
						<add input="{HTTP_HOST}" pattern="www.leavitttraining.com" />
						<add input="{HTTP_HOST}" pattern="online.theuniversalgroup.ca" />
						<add input="{HTTP_HOST}" pattern="www.xpan-safety.com" />
						<add input="{HTTP_HOST}" pattern="www.valhallasafetyonline.com" />
						<add input="{HTTP_HOST}" pattern="www.safety605online.com" />
						<add input="{HTTP_HOST}" pattern="www.gembagrouplearning.com" />
						<add input="{HTTP_HOST}" pattern="training.psaisafety.com" />
						<add input="{HTTP_HOST}" pattern="training.albertalabour.ca" />
						<add input="{HTTP_HOST}" pattern="courses.opencircle.ca" />
						<add input="{HTTP_HOST}" pattern="www.hfsafety.us" />
						<add input="{HTTP_HOST}" pattern="courses.eliteagrisolutions.ca" />
						<add input="{HTTP_HOST}" pattern="www.safetydocstraining.ca" />
						<add input="{HTTP_HOST}" pattern="courses.amsafety.ca" />
						<add input="{HTTP_HOST}" pattern="store.worklifecerts.com" />
						<add input="{HTTP_HOST}" pattern="training.inunison.io" />
						<add input="{HTTP_HOST}" pattern="training.trimarksafety.ca" />
						<add input="{HTTP_HOST}" pattern="training.bayardosafety.com" />
						<add input="{HTTP_HOST}" pattern="quiz.teamuptosafety.com" />
						<add input="{HTTP_HOST}" pattern="courselibrary.aspectsafety.ca" />
						<add input="{HTTP_HOST}" pattern="courses.bissafety.uk" />
						<add input="{HTTP_HOST}" pattern="onlinetraining.fedgas.com" />
						<add input="{HTTP_HOST}" pattern="training.mainsafetysolutions.com" />
						<add input="{HTTP_HOST}" pattern="learning.1stqualitysafety.ca" />
						<add input="{HTTP_HOST}" pattern="safetytraining.rskless.com" />
						<add input="{HTTP_HOST}" pattern="courses.bissafety.ca" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/store/" />
				</rule>
				<rule name="Pay Invoice Online - Rewrite" stopProcessing="true">
					<match url="^pay-online$" />
					<action type="Rewrite" url="v1/index.cfm?action=payment.payonline" />
				</rule>
				<rule name="Lookup Invoice" stopProcessing="true">
					<match url="^receipt-search$" />
					<action type="Rewrite" url="v1/index.cfm?action=payment.receiptsearch" />
				</rule>
				<rule name="Reset Password - Rewrite" stopProcessing="true">
					<match url="^reset-password$" />
					<action type="Rewrite" url="v1/index.cfm?action=home.loginForm&amp;resetpassword=1" />
				</rule>
				<rule name="Custom SSO Redirect with JWT Token" stopProcessing="true">
					<match url="^(sso/redirect)(.*)$" />
					<action type="Rewrite" url="/v1/index.cfm?action=auth.ssologin" appendQueryString="true" />
				</rule>
				<rule name="SSO XML - Rewrite" stopProcessing="true">
					<match url="^(sso)/(.*).xml$" />
					<action type="Rewrite" url="/sso/ssoxml.cfm?shortcode={R:2}" />
				</rule>
				<rule name="SSO CR - Rewrite" stopProcessing="true">
					<match url="^(sso)/(.*)cr.cfm$" />
					<action type="Rewrite" url="sso/ssocr.cfm?shortcode={R:2}" />
				</rule>
				<rule name="SSO Main - Rewrite" stopProcessing="true">
					<match url="^(sso)/(.*).cfm$" />
					<action type="Rewrite" url="/sso/sso.cfm?shortcode={R:2}" />
				</rule>
				<rule name="Return Page Generic Rule" stopProcessing="true" enabled="true">
					<match url="^(search)/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=bisadmin.RecordSearch&amp;n={R:2}" />
				</rule>
				<rule name="Rewrite cv request" stopProcessing="true" enabled="true">
					<match url="^(cv)/dashboard/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=cv.home&amp;pagemode=edit&amp;id={R:2}" />
				</rule>
				<rule name="Rewrite cv request redirect" stopProcessing="true" enabled="true">
					<match url="^(cv)/dashboard$" />
					<action type="Rewrite" url="v1/index.cfm?action=cv.home&amp;pagemode=list" />
				</rule>
				<rule name="Rewrite cv request redirect /" stopProcessing="true" enabled="true">
					<match url="^(cv)/dashboard/$" />
					<action type="Redirect" url="/cv/dashboard" />
				</rule>
				
				<rule name="Rewrite reward redeem" stopProcessing="true" enabled="true">
					<match url="^reward/redeem/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=reward.redeem&amp;id={R:1}" />
				</rule>
				<rule name="Rewrite reward redeem redirect" stopProcessing="true" enabled="true">
					<match url="^reward/redeem$" />
					<action type="Rewrite" url="v1/index.cfm?action=reward.redeem" />
				</rule>
				<rule name="Rewrite reward redeem redirect /" stopProcessing="true" enabled="true">
					<match url="^reward/redeem/$" />
					<action type="Redirect" url="/reward/redeem" />
				</rule>
				<rule name="Rewrite classroom meeting link" stopProcessing="true" enabled="true">
					<match url="^meeting/([_0-9a-z-]+)/(.*)$" />
					<action type="Rewrite" url="v1/index.cfm?action=classroom.redirectmeeting&amp;eventid={R:2}&amp;returntype={R:1}" />
				</rule>
				<rule name="CustomLoginRedirect" stopProcessing="true">
					<match url="^(login)/([ ._0-9a-z-é]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=home.loginForm&amp;companyid={R:2}" />
				</rule>
				<rule name="Rewrite store notfound" stopProcessing="true" enabled="true">
					<match url="^store/notfound/?.*$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.notfound" />
				</rule>
				<rule name="Rewrite store request blank" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)$" />
					<action type="Redirect" url="store/{R:2}/home" />
				</rule>
				<rule name="Rewrite store request cart with add bundle" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/(cart)/bundle/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode={R:3}" />
				</rule>
				<rule name="Rewrite store request cart with add" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/(cart)/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode={R:3}" />
				</rule>
				<rule name="Rewrite store request cart with add and waitlist" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/(cart)/([_0-9a-z-]+)/(waitlist)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode={R:3}&amp;waitlist={R:4}" />
				</rule>
				<rule name="Rewrite store request filter" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/(viewall|home)/category/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode={R:3}" />
				</rule>
				<rule name="Rewrite store request" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/(viewall|home|cart|login|signup)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode={R:3}" />
				</rule>
				<rule name="Rewrite store request productdetails" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/productdetails/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode=productdetails&amp;productID={R:3}" />
				</rule>
				<rule name="Rewrite store request emailcodes" stopProcessing="true" enabled="true">
					<match url="^(store)/([_0-9a-z-]+)/(orderconfirmation|voucherconfirmation|emailcodes|instructions|assigncodes|emailpocodes|poinstructions|assignpocodes)/([_0-9a-z-]+)$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home&amp;storeidentifier={R:2}&amp;pagemode={R:3}&amp;orderid={R:4}" />
				</rule>
				<rule name="Rewrite just store/ to controller for redirect to custom url store, if any" stopProcessing="true" enabled="true">
					<match url="^(store)/$" />
					<action type="Rewrite" url="v1/index.cfm?action=store.home" />
				</rule>
				<rule name="Rewrite all other store request are invalid" stopProcessing="true" enabled="true">
					<match url="^(store)/?.*$" />
					<action type="Redirect" url="store/notfound" />
				</rule>
				<rule name="DB folder Redirect" stopProcessing="true">
					<match url="^(db_scripts)/(.*)$" />
					<action type="Redirect" url="/v1/index.cfm?action=home.loginform" />
				</rule>
				<rule name="AWSLambda folder Redirect" stopProcessing="true">
					<match url="^(AWSLambda)/(.*)$" />
					<action type="Redirect" url="/v1/index.cfm?action=home.loginform" />
				</rule>
				<rule name="Rewrite classroom course video link" stopProcessing="true" enabled="true">
					<match url="^(video)/(classroom)/([_0-9a-zA-Z-]+)$" />
					<action type="Rewrite" url="/v1/index.cfm?action=player.classroom&amp;asset={R:3}" />
				</rule>
				<rule name="ShortenedUrlRedirect" stopProcessing="true">
					<match url="^l/([0-9a-zA-Z]+)$" />
					<action type="Redirect" url="/v1/index.cfm?action=common.processShortUrl&amp;id={R:1}" />
				</rule>
				<rule name="LoginRedirect" stopProcessing="true">
					<match url="^$" />
					<action type="Redirect" url="v1/index.cfm?action=home.loginForm" />
				</rule>
				<rule name="Rewrite robot.txt to remove crawling for specific domains" stopProcessing="true" enabled="true">
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="elearning.sosfirstaid.ca" />
					</conditions>
					<match url="^robots.txt" />
					<action type="Rewrite" url="robots_nocrawling.txt" />
				</rule>
				<rule name="DownloadFolderDocumentRedirect" stopProcessing="true">
					<match url="^d/([_0-9a-zA-Z]+)$" />
					<action type="Redirect" url="https://{HTTP_HOST}/v1/index.cfm?action=forms.downloadfolderdocument&amp;document={R:1}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="AddSameSiteCookie" preCondition="NotFromBisLocalCom">
					<match serverVariable="RESPONSE_Set-Cookie" pattern="^(.*)(CFID|CFTOKEN|JSESSIONID)(=.*)$" />
					<action type="Rewrite" value="{R:0};SameSite=none" />
				</rule>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
				<preConditions>
					<preCondition name="NotFromBisLocalCom">
						<add input="{HTTP_HOST}" pattern="bis.local.com" negate="true" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<staticContent enableDocFooter="false">
			<mimeMap fileExtension=".f4v" mimeType="video/x-f4v" />
			<mimeMap fileExtension=".story" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".m3u8" mimeType="application/x-mpegurl" />
			<mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
			<mimeMap fileExtension=".vtt" mimeType="text/vtt" />
			<mimeMap fileExtension=".epub" mimeType="application/epub+zip" />
			<clientCache cacheControlMode="NoControl" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" />
		</staticContent>
		<security>
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="3147483648" maxQueryString="32768" />
			</requestFiltering>
		</security>
		<defaultDocument enabled="true" />
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
		</handlers>
        <httpErrors errorMode="Custom" />
	</system.webServer>
</configuration>
